<a href="https://colab.research.google.com/github/VinayKiranReddy/JNTUA/blob/master/DAY_9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*** Adding links to markdown***

[site](https://sites.google.com/s/13DEPJzuyfiK3QiT198eGtl5EMnbKiltr/p/18eHkCNV6PZHxzIuIcYZ_E3-a1akPmIaG/edit)
### Inserting image
![text]()

In [3]:
print("hello, jntua","|||" ,"Chemical","|||","Cse" ,"|||","Mca")

hello, jntua ||| Chemical ||| Cse ||| Mca

In [2]:
print("hello!")

hello!

Assignment

In [6]:
n1 = 100 # single variable assignment 
n1
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

10 10 10
100 200 300

# Data types and conversions


*   int
*  float










* string

In [7]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [8]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
# length
a = 56
print(len(str(a)))

2

Reading input from user---input function

In [16]:
a = input("Enter ur name")
print(a)
print(type(a))

Enter ur namePANKAJ
PANKAJ
<class 'str'>

In [21]:
B = int(input('Enter ur age :'))
print(B)
print(type(B))

Enter ur age :20
20
<class 'int'>

# Operators
       Operators is a symbol that is used to perform specific kind of operations.

# Arithmetic Operators


*   +
*   -

*   *
*   /

*   %
*   //

*   **

In [25]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operator


*  =

*   ==

*   !=
*   <


*   <=

In [28]:
x = 10
a1 = x > 15
print(a1)

False

# logical operators


*   and

*   or
*   not

In [34]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) and (i>800)
i = not 100
print(a1)
print(a2)
print(i)

True
False
False

# Control flow statements


1.   conditional statements
2.   looping statements

# if-else statement
  SYNTAX

     if Boolean_condition
     statements
     else:
     statements

In [36]:
# To check given no. is even or odd
n = int (input("enter a number"))
if n%2 == 0:
  print(n,"is even number")
else:
    print(n,"is odd number")

enter a number73
73 is odd number

In [37]:
# to check given number is a multiple of 3  & 5
n = int (input("enter a number"))
if n%15 ==0:
  print(n,"yes")
else:
   print(n,"no")

enter a number10
10 no

In [45]:
# given number is positive , negative or 0
n = int(input("enter a num"))
if n==0:
  print(n,"zero")
elif n>0:
  print(n,"positive")
else:
  print(n,"negative")

enter a num73
73 positive

In [50]:
# largest of 3. numbers
a = 20
b = 33
c = 73
if b > a & b>c:
  print("b is greater than a")
elif c > a :
 print("c is greater")
else:
  print("a is greater")

c is greater