<a href="https://colab.research.google.com/github/VinayKiranReddy/JNTUA/blob/master/DAY_10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops


*  WHILE LOOP 
*  FOR LOOP

In [5]:
# Print Numbers from numbers 1 to n
# Input 10
# Output : 1,2,3,4,5,6,7,8,9,10
n = int(input("enter a number"))
i = 1
while i <=n:
  print(i,end = " ")
  i = i+1

enter a number5
1 2 3 4 5

In [21]:
n = (int(input("entera num")))
sum = 0
for i in range(1,n+1):
   if (i%2==0):
     print("{0}".format(i))
     sum = sum + i
print("total={1}".format(i,sum))

entera num10
2
4
6
8
10
total=30

In [32]:
n = int(input("enter a num"))
i = 0
sum = 0
while i<=n:
      sum=sum+i
      i=i+2 
print(sum)

enter a num10
30

In [55]:
# print palindrome number
# input 123
# output 321
n = int(input("enter a num"))
rem = 0
num = 0
while n>0:
  rem = n%10
  num=num*10+rem
  n=n//10
print(num)

enter a num12
21

# Functional Programming
- simple
- easy to understand
- better reuseability
- lengthy program will be divided into sub programs

In [0]:
def nameofthefunction(<parameter>):
    statements
    return

In [53]:
# print sum of even numbers
# input : 1234
# output : 2 + 4 = 6
def sumofevendigits(n):
    s = 0
    while n!=0:
       r = n%10
       if r%2==0:
        s=s+r
       n = n//10
    return s
sumofevendigits(1234)

6

In [0]:
def large(n):
  prev=0
  next=0
  while(n!=0):
    prev=next
    next=n%10
    if(prev>next):
       next=prev
      n=n//10
    return next
  large(12345)

for loop

In [0]:
# syntax
for in range(start,stop,stop)

In [62]:
def printseries(fn,ln):
   for i in range(fn,ln+1):
      print(i,end=" ")
   return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [71]:
def printseries(fn,ln):
    for i in range(500,521,4):
     print(i,end=" ")
    return
printseries(500,521)

500 504 508 512 516 520

# List
- one of the data structure in python
- Data structure means to store,sort and search options
- its one common data structure in python,the items of list separated by comma and enclosed by square brackets
- list was IMMUTABLE(i.e.values can change)
-ex:
-list1 =[1,2,3,4,5]
-list=["JNTUA","DASD","asds"]

In [76]:
li = [1,0,2,5,4]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 0, 2, 5, 4]
2
2
[2, 5, 4]
[2, 5]
[2, 5]

In [77]:
li = ["JNTUA",8,"ANTPR",5,4]
print(li)
li[1]="154"
print(li)
# delete list item
del li[3]
print(li)

['JNTUA', 8, 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 4]

In [83]:
# Basic List Operations
li = [1,2,3,4,5]
print(len(li))
print(li*2)
print(4 in li)
print(6 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

# list functions
- max
- min
- sum
- append
- insert
- count
- index
- sort
- pop

In [93]:
i = [1,2,3,4,5]
#print(max(li))
#print(min(li))
print(sum(i))

TypeError: ignored